---
---

@import "{{ site.theme }}";
html {
  font-family: "IBM Plex Sans", sans-serif;
}
a {
  color: #fa6a76;
}
.page-header {
  background-color: rgb(11, 12, 33);
  background-image: none;

  @include large {
    padding: 3rem 6rem;
  }

  @include medium {
    padding: 1rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}
.page-header a {
  color: #fff;
}
.page-header a:hover {
  text-decoration: none;
}
.project-tagline {
  margin-bottom: none;
}
.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
  color: rgb(11, 12, 33);
}
